:root{
    /* colors */
    --color-primary: #1572D3;
    --color-primary-bg: #1572D31a;
    --color-black: #000000;
    --color-neutral1-1:#222222;
    --color-neutral1-2:#444444;
    --color-neutral1-3:#666666;
    --color-neutral1-4:#888888;
    --color-neutral1-5:#aaaaaa;
    --color-neutral1-6:#cccccc;
    --color-neutral1-7:#eeeeee;
    --color-white: #ffffff ;
    
    /* Font Sizes */

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 38px;
    --font-size-8: 48px;
    --font-size-9: 64px;

    /* Font Families */

    --font-family-main: "Poppins" , sans-serif;

    /* Radius */

    --radius-1: 8px;
    --radius-2: 12px;
    --radius-3: 16px;
    --radius-4: 24px;
    --radius-i: calc(infinity * 1px);

    /* Transition */

    --transition: 0.3s ;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:var(--font-family-main);
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,ol{
    list-style:none;

}
.container{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

}

.header {
    width: 100%;
    padding: 40px 0;
    position: fixed;

}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}
.header_logo{
    height: 50%;
}
.header_logo > img{
    height: 100%;
}
.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;


}
.header_navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.header_navitem {
    font-size: var(--font-size-3);
    color: var(--color-neutral1-2);
    font-weight: 500;

}
.header_auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.header_auth_link{
    font-size: var(--font-size-3);
    color: var(--color-neutral1-2);
    font-weight: 500;
}
.header_auth_link:nth-of-type(2){
    background: var(--color-primary);
    color: var(--color-white);
    height: 48px;
    padding: 0 32px;
    border-radius: var(--radius-1);
    display: flex;
    justify-content: center;
    align-items: center;


}
