
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #e6ecef;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  width: 350px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}


.card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}


.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.tags {
  display: flex;
  gap: 10px;
}

.tags span {
  background: #f1f3f5;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: #555;
}


.content h2 {
  font-size: 22px;
  color: #222;
}


.content p {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}


.content button {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #dbeafe;
  color: #2563eb;
}

.content button:hover {
  background: #2563eb;
  color: white;
}