*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
     min-height: 100vh;
}

.container {
    width: 400px;
    height: 300px;
    background: #243D83;
    border: solid #6592CF;
    border-width: 75px 50px;
    position: relative;
}
.klor {
    width: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 50px solid #6592CF;
    background: #EEB850;
    padding: 50px;
    background-clip: content-box;
}