body {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.shape {
  width: 300px;
  height: 300px;
}

.shape path {
  fill: none;
  stroke: black;
  stroke-width: 2;
}