body {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.svg {
  width: 300px;
  height: 300px;
}

.circle {
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.center {
  fill: red;
  stroke: black;
  stroke-width: 3;
}