*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #62306D;
    width: 400px;
    height: 300px;

}

.klor{
    width: 100px;
    height: 100px;
    background: #F7EC7D;
    border-radius: 50px 50px 0 0 ;
    position: absolute;
    top: 25%;
    left: 25%;

}