*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: #C74E4E;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 90px;
   
    
    
}
.col{
    width: 20px;
    aspect-ratio: 1/1;
    background:#E0E246;
    border-radius: 5px;
    
}

.klor{
width: 20px;
aspect-ratio: 1/1;
background: white;
border-radius: 50%;
}

.row{
    display: flex;
    gap: 5px;
}

.row1{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.loc{
    display: flex;
    gap: 5px;
   
}
.row2{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: end;
}
