*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 300px;
    background: #DE3832;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}
.gg{
    width: 110px;
    height: 110px;
    background: #33499F;
    box-shadow: 0px 0px 0px 15px #fff;
}
.gg1{
    width: 210px;
    height: 110px;
    background: #33499F;
    box-shadow: 0px 0px 0px 15px #fff;
}
.gg2{
    width: 110px;
    height: 110px;
    background: #33499F;
    box-shadow: 0px 0px 0px 15px #fff;
}
.gg3{
    width: 210px;
    height: 110px;
    background: #33499F;
    box-shadow: 0px 0px 0px 15px #fff;
}