*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    width: 400px;
    height: 300px;
    background: #62306D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 40px solid #F7EC7D;
    border-top-color: #E38F66;
    rotate: -45deg;
}