*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 300px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pacman{
    border: 30px solid #E0E246;
    border-right: 30px solid transparent;
    border-radius: 50%;
}

.patronner{
display: flex;
gap: 20px;
}

.patron{
    background: #fff;
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.tshnami{
    width: 60px;
    aspect-ratio: 1/1;
    background-color: #C74E4E;
    border-radius: 50% 50% 0 0 ;
    display: flex;
}
.kotosh{
    border-width: 0 10px 10px 10px ;
    border-style: solid ;
    border-color: transparent transparent black transparent;
}