*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 300px;
    background: #F8B140;
    display: flex;
    justify-content: center;
    align-items: center;
}

.klor{
    width: 240px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 30px solid #000;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    background: linear-gradient(
        transparent 50%,
         #67AED4 50%
    );
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pujur{
    aspect-ratio: 1/1;
    flex-grow: 1;
    border-radius: 50%;

}

.p1,.p3{
    background: #67AED4;
}

.p2{
    background: #ffff;
}